@import 'node_modules/bootstrap/scss/functions';
@import "variables";
@import 'node_modules/bootstrap/scss/bootstrap';
@import "fonts";


html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    color: $white;
    background: $black;
    font-family: $regular-font;
}